body{
    background: #F3F5FC;
}

.header{
    width: 95%;
    margin: auto;
}

.logoAlura{
   margin-top: 40px;
}

.main{
    width: 85%;
    margin: auto 40px auto auto;

    display: grid;
    grid-template-columns: 45% 28% 25%;
    min-height: calc(100vh - 91px - 72px);
    align-items: end;
}

.textoEncriptar{
    height: 800px;
}

.ingreseTexto{
    margin-top: 10%;
    display: inline;
    resize: none;

    border: none;
    color: #0A3871;
    /*position: absolute;*/
    width: 90%;
    height: 500px;
    /*left: 240px;
    top: 168px;*/
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}


.ingreseTexto::placeholder{
    color: #0A3871;
}

.ingreseTexto:focus, .ingreseTexto:active{
    border: none;
    outline: none;
}

.copiar{
    margin-left: 60%;
    max-width: 228px;
    width: 30%;
    height: 67px;

    background: #a1bbe0;
    border: none;
    border-radius: 24px;
    transition: 0.5s all;

    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 19px;

    color: #0A3871;
}

.copiar:hover{
    color: #02162e;
    background: #71a7e9;
    transform: scale(1.02);
}

.reglas{
    display: flex;
    margin-top: 16px;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    /*position: absolute;
    left: 240px;
    top: 800px;*//*851*/
    width: 230px;
    height: 18px;
}

.reglas img{
    width: 16px;
    height: 16px;
}

.reglas p{
    width: 206px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #495057;
    opacity: 0.8;
}

.botones{
    display: flex;
    margin-top: 16px;
    padding: 0px;
    gap: 24px;

    flex-wrap: wrap;

    /*position: absolute;
    left: 240px;
    top: 835px;*/
}

.encriptar{

    max-width: 328px;
    width: 40%;

    background: #0A3871;
    border: none;
    border-radius: 24px;

    transition: 0.5s all;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
}

.encriptar:hover{
    background-color: #1664c2;
    transform: scale(1.05);
}

.desencriptar{
    padding: 24px;
    gap: 8px;

    max-width: 328px;
    width: 40%;

    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;

    transition: 0.5s all;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #0A3871;
}

.desencriptar:hover{
    background: #b7cdec;
    transform: scale(1.05);
}

.textoDesencriptado{
    /*position: relative;
    left: 1000px;
    top: 40px;*/
    max-width: 400px;
    width: 90%;
    height: calc(100% + 48px);
    text-align: center;
    padding: 32px;
    box-sizing: border-box;

    background: #d9e1eb;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    box-shadow: -8px 10px 19px 0px rgb(202, 202, 202);
    border: solid 1px #79aceb;
    border-radius: 32px;
}

.dibujo{
    width: 100%;
}

.textoDibujo{
    padding: 0px;
    gap: 16px;
    text-align: center;
}

.sinMensaje{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    color: #343A40;
}

.clausula{
    margin-top: 3%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #495057;
}

.final{
    height: 75%;
    display: flex;
    flex-direction: column;
}

.idiomas{
    margin: 0 auto;
    display: flex;
    padding: 0px;

    /*position: relative;
    left: 1550px;
    top: 225px;*/
    max-width: 180px;
    width: 50%;
    max-height: 60px;
    height: auto;
}

.es{
    padding: 24px;
    gap: 8px;

    max-width: 90px;
    width: 50%;

    background-color: #0A3871;
    border: none;
    border-radius: 24px 0 0 24px;

    text-decoration: none;
    transition: 0.5s all;

    
    color: #FFFFFF;
}

.es p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
}

.en{
    padding: 24px;

    max-width: 90px;
    width: 50%;

    background: #D8DFE8;
    border: 1px solid #9dbde6;
    border-radius: 0 24px 24px 0;

    text-decoration: none;
    transition: 0.5s all;
    
    color: #0A3871;
}

.en p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
}

.en:hover{
    background: #b7cdec;
}


.esDos{
    padding: 24px;
    gap: 8px;

    max-width: 90px;
    width: 50%;

    background-color: #D8DFE8;
    border: 1px solid #9dbde6;
    border-radius: 24px 0 0 24px;

    text-decoration: none;
    transition: 0.5s all;

    
    color: #0A3871;
}

.esDos p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
}

.esDos:hover{
    background: #b7cdec;
}

.enDos{
    padding: 24px;

    max-width: 90px;
    width: 50%;

    background: #0A3871;
    border-radius: 0 24px 24px 0;

    text-decoration: none;
    transition: 0.5s all;
    
    color: #FFFFFF;
}

.enDos p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
}

.creditos{
    /*position: relative;
    left: 1450px;
    top: 310px;*/
    max-width: 400px;
    width: 100%;
    height: 344px;
    margin: 7% auto 0 auto;

    background: #ffffff;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border: solid 1px #79aceb;
    border-radius: 32px;
}

.logos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.oracle{
    max-width: 300px;
    width: 80%;
    margin: 13% auto 0 auto;
}

.challenges{
    max-width: 250px;
    width: 70%;
    margin: 8% auto 0 auto;
}

.develop{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.imgDev{
    margin: 10% auto 0 auto;
    max-width: 80px;
    width: 30%;
    display: flex;
}

.develop img{
    max-width: 35px;
    width: 45%;
}

.git{
    margin-right: 10%;
}

.desarrollado{
    font-family: Inter;
    font-weight: bold;
    color: #0A3871;

    margin-top: 2%;
}

.copy{
    font-family: Inter;
    font-size: 13px;
    color: #0A3871;

    margin-top: 3%;
}

/*Responsive Desing*/

@media screen and (max-width: 1600px) {
    
    .main{
        grid-template-columns: 70% 30%;
        align-items: center;
    }

    .final{
        height: 100%;
    }

    .idiomas{
        margin: 5% auto 0 53%;
    }

    .creditos{
        max-width: 90%;
        height: 100px;
        display: flex;
        justify-content: space-around;
        margin: 2% auto 2% 19%;
    }

    .logos{
        width: 25%;
        /*margin: auto 0 auto 20%;*/
    }

    .oracle{
        margin: 0 auto;
    }

    .challenges{
        margin: 5% auto 0 auto;
    }

    .develop{
        width: 40%;
    }

    .imgDev{
        margin: 0 auto;
        width: 15%;
    }

    .desarrollado, .copy{
        margin: 2% 0 0 0;
    }

    .git{
        margin-right: 10%;
    }

    .copy{
        font-size: 10px;
    }

}

@media screen and (max-width: 1000px){

    .main{
        grid-template-columns: 1fr;
        width: auto;
        margin: auto 40px;
    }

    .textoDesencriptado{
        height: 100%;
    }

    .ingreseTexto{
        height: 60%;
        margin-top: 15%;
    }

    .copiar{
        margin-top: 3%;
        margin-left: 35%;
        height: 40px;
        font-size: 15px;
    }

    .botones{
        justify-content: center;
    }

    .encriptar, .desencriptar{
        width: 45%;
        padding: 20px;
    }

    .textoDesencriptado{
        max-width: 70%;
        width: 70%;
        margin: 0 auto;
    }

    .dibujo{
        display: none;
    }

    .idiomas{
        margin: 5% auto 0 auto;
    }

    .creditos{
        margin: 2% auto 2% auto;
    }

}

@media screen and (max-width: 650px) {
    
    .main{
        margin: auto 16px;
    }

    .textoEncriptar{
        height: 730px;
    }

    .ingreseTexto{
        margin-top: 10%;
        width: 100%;
        height: 400px;
        font-size: 25px;
    }

    .encriptar, .desencriptar{
        max-width: 100%;
        width: 100%;
        padding: 24px;
    }

    .textoDesencriptado{
        max-width: 100%;
        width: 100%;
        border-radius: 0;
        background: none;
        border: none;
    }

    .final{
        height: 100%;
    }

    .idiomas{
        max-width: 100%;
        width: 80%;
    }

    .es, .en, .esDos, .enDos{
        max-width: 100%;
    }

    .creditos{
        max-width: 100%;
        height: 80px;
    }

    .desarrollado{
        font-size: 12px;
    }

    .copiar p{
        font-size: 0.7em;
    }

}